.border {
    border-style: double;
    border-width: 3px 7px 7px 4px;
    padding: 10px;
    width: 300px;
    background: grey;
    border-radius: 10px;

}

.avatar {
    width: 100px;
    border-radius: 50%;
}

.usersPage {
    font-weight: bold;
    color: red;
}

